<div class="white-box-content home-container">
    <div class="logo-container">
        <img src="/assets/images/goBravoLogo.png" alt="Logo Go Bravo">
    </div>
    <div class="meanPB-whiteBox-title mb-md-4">Hola</div>
    
    <div class="mb-2 mb-md-4">Si eres acreedor de cobranza</div>
    <button routerLink="/pb/log-in-for-consultation" class="bluePB-container">
        <div class="row mx-auto">
            <div class="col-sm-3">
                <mat-icon>percent</mat-icon>
            </div>
            <div class="col-sm-9">
                <div class="bluePB-title">Click aquí</div>
                <div class="bluePB-subTitle">Y envianos las propuestas de negociación que tienes para nuestros clientes.</div>
            </div>
        </div>
    </button>

    <!-- <div class="mb-2 mb-md-4">Si eres cliente de Bravo</div> -->
    <!-- <button class="bluePB-container mb-4" (click)="viewClientProposal()">
        <div class="row mx-auto">
            <div class="col-sm-3">
                <mat-icon>person_outline</mat-icon>
            </div>
            <div class="col-sm-9">
                <div class="bluePB-title">Click aquí</div>
                <div class="bluePB-subTitle">Y comparte la propuesta de negociación que recibiste para tu deuda.</div>
            </div>
        </div>
    </button> -->

    <a class="rtd-link" href="https://resuelvetudeuda.com/es-co/medios/" target="_blank">Ir a Bravo</a>
</div>