<div class="d-flex flex-column align-items-center white-box-content p-2">
    <button id="close" class="close-dialog-btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <div class="w-75 mt-4">
        <div class="meanPB-whiteBox-title mb-4 text-center">Recuperar contraseña</div>
        <div class="mb-4 text-center custom-style">Te enviaremos un correo electrónico para que puedas cambiar tu contraseña,
            recuerda revisar tu bandeja de entrada o Spam en caso de que no lo encuentres</div>
        <form [formGroup]="formresetpassword" (ngSubmit)="this.sendEmailToResetPassword()"
            class="d-flex flex-column align-items-center">
            <mat-form-field class="w-100 mb-4 text-center" appearance="fill" color="accent">
                <mat-label color="primary">Correo asociado a la cuenta:</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ej. John@ejemplo.com">
                <mat-error class="text-center" *ngIf="this.formresetpassword.controls.email.hasError('required')">
                    <strong>Requerido</strong>
                </mat-error>
                <mat-error class="text-center" *ngIf="this.formresetpassword.controls.email.hasError('email')">
                    <strong>No válido</strong>
                </mat-error>
            </mat-form-field>
            <!-- <button type="submit" class="w-100 blueBorder-btn mt-3 mb-3 sendFormbtn"
                [disabled]="!this.formresetpassword.valid">Enviar correo de recuperacion</button> -->

                <button type="submit" class="mean-PortalBtn sendFormbtn w-75" [disabled]="!this.formresetpassword.valid">
                    Enviar correo de recuperación
                </button>
                
            <span>{{this.operationResult}}</span>
        </form>
    </div>
</div>