<div class="white-box-content">
    <div class="logo-container">
        <img src="/assets/images/goBravoLogo.png" alt="Logo go Bravo">
    </div>

    <div class="notFoundperson-imgContainer">
        <img src="/assets/images/not-found-person-img.png" alt="Icono, error persona no encontrada">
    </div>

    <div class="meanPB-whiteBox-title mb-4 no-encontrado">No encontrado</div>
    <div class="mb-4 no-encontradoCC">La persona con tipo de documento: {{documentType}} y número: {{documentId}} no es cliente de Bravo o no tiene deuda en la entidad: {{entity}}</div>
    
    <!--Action Buttons-->
    <button class="mean-PortalBtn sendFormbtn w-75" routerLink="/pb/consultation-by-person">Nueva Consulta</button>

    <!-- <div><a class="smallBlueTxt btn btn-outline-info p-3 px-5 rounded-pill" routerLink="/pb/home">Volver al inicio</a></div> -->
    <div>
        <a class="smallBlueTxt btn btn-outline-info p-3 px-5 rounded-pill" routerLink="/pb/home">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_774_398)">
                    <path d="M9 19L10.41 17.59L5.83 13H22V11H5.83L10.42 6.41L9 5L2 12L9 19Z" fill="currentColor"/>
                </g>
                <defs>
                    <clipPath id="clip0_774_398">
                        <rect width="24" height="24" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            <span class="button-text">Volver al inicio</span>
        </a>
    </div>
</div>
