<div class="white-box-content">
    <div class="logo-container">
        <img class="mt-5" src="/assets/images/goBravoLogo.png" alt="Logo Go Bravo">
    </div>

    <div class="notFoundperosn-imgContainer">
        <img src="/assets/images/found-person-img.png" alt="Icono, error persona no encontrada">
    </div>

    <div class="meanPB-whiteBox-title mb-4">Propuesta recibida</div>
    <div class="lightgrayText mb-4">Hemos recibido tu propuesta, esta será revisada por una de
        nuestros asesores,
        quien te dará respuesta con la mayor brevedad posible.</div>



    <!--Action Buttons-->
    <button routerLink="/pb/kind-of-consultation" class="mainButton">Nueva propuesta</button>
    <div><a routerLink="/pb/log-in-for-consultation" class="mt-5 d-block smallBlueTxt ">Salida
            segura</a></div>
</div>