<div class="white-box-content">
    <div class="logo-container">
        <img src="/assets/images/solve-your-debt-logo.png" alt="Logo resulve tu deuda">
    </div>

    <div class="notFoundperosn-imgContainer">
        <img src="/assets/images/found-person-img.png" alt="Icono, error persona no encontrada">
    </div>

    <div class="meanPB-whiteBox-title mb-4">PROPUESTA RECIBIDA</div>
    <div class="mb-4">Hemos recibido tu propuesta, esta será revisada por una de nuestros asesores, quien te dará respuesta con la mayor brevedad posible.</div>

    
            
    <!--Action Buttons-->
    <button routerLink="/pb/kind-of-consultation" class="mean-PortalBtn">Nueva propuesta</button>
    <div><a routerLink="/pb/log-in-for-consultation" class="smallBlueTxt">Salida segura</a></div>
</div>