<div class="d-flex flex-column align-items-center white-box-content">
    <button id="close" class="close-dialog-btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    <div class="meanPB-whiteBox-title mb-2">Cambio de contraseña</div>
    <div class="mb-3 text-center w-75">Te enviaremos un correo electrónico para que puedas cambiar tu contraseña, recuerda revisar tu bandeja de entrada o Spam en caso de que no lo encuentres</div>
    <form [formGroup]="formChangePassword" (ngSubmit)="this.changePassword()" class="w-100 d-flex flex-column align-items-center">
        <mat-form-field class="w-75 mb-3" appearance="fill" color="accent">
            <mat-label>Contraseña actual:</mat-label>
            <input type="password" matInput formControlName="password" formControlName="password"
                placeholder="Digite su contraseña actual">
            <mat-error class="text-center" *ngIf="this.formChangePassword.controls.password.hasError('required')">
                <strong> Requerida </strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-75 mb-3" appearance="fill" color="accent">
            <mat-label>Nueva contraseña:</mat-label>
            <input type="password" matInput formControlName="password" formControlName="newPassword"
                placeholder="Digite su contraseña nueva">
            <mat-error class="text-center" *ngIf="this.formChangePassword.controls.newPassword.hasError('required')">
               <strong> Requerida </strong>
            </mat-error>
            <mat-error class="text-center" *ngIf="this.formChangePassword.controls.newPassword.hasError('minLength')">
                La longitud de la contraseña nueva debe ser <strong> 6 caracteres </strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-75 mb-3" appearance="fill" color="accent">
            <mat-label>Confirmar contraseña nueva:</mat-label>
            <input type="password" matInput formControlName="password" formControlName="confirmNewPassword"
                placeholder="Confirme su contraseña nueva">
            <mat-error class="text-center" *ngIf="this.formChangePassword.controls.confirmNewPassword.hasError('required')">
                La confirmación de la contraseña es <strong> Requerida </strong>
            </mat-error>
            <mat-error class="text-center" *ngIf="this.formChangePassword.controls.confirmNewPassword.hasError('minLength')">
                La confirmación de la contraseña es <strong> Requerida </strong>
            </mat-error>
        </mat-form-field>
        <button type="submit" class="blueBorder-btn mb-1 sendFormbtn" [disabled]="!this.formChangePassword.valid">Cambiar contraseña</button>
        <span>{{this.operationResult}}</span>
    </form>
</div>