::ng-deep .close-dialog-btn:focus-visible {
    outline: none;
  }
  

.meanPB-whiteBox-title {
    color: #111233;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
}

.white-box-content form button[type="submit"] {
    /* Estilos del botón */
    display: flex;
    width: 100%;
    max-width: 432px;
    height: 48px;
    padding: 12px 16px 11px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--panel-action-blue-500, #4BC9F4);
    background: var(--panel-action-blue-500, #4BC9F4);
    color: var(--panel-base-white, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* Transiciones */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.white-box-content form button[type="submit"]:hover {
    /* Estilos del botón al pasar el cursor sobre él */
    background: var(--panel-gradient-sea, linear-gradient(90deg, #71F3F8 0%, #509EF9 65.10%, #71F3F8 100%));
    color: var(--panel-base-white, #FFF);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}



@media (max-width: 767px) {
    .meanPB-whiteBox-title {
        font-size: 24px;
        margin-bottom: 20px; /* Ajusta el margen inferior para que no se superponga con el contenido */
    }

    // .mb-4.w-75.text-center {
    //     font-size: 16px;
    //     width: auto;
    //     margin-left: auto;
    //     margin-right: auto;
    //     margin-bottom: 20px;
    // }
    
    .mean-PortalBtn {
        max-width: none; /* Elimina el ancho máximo para que el botón ocupe todo el ancho disponible */
        width: auto; /* Elimina el ancho fijo para que el botón se ajuste al contenido */
        height: auto; /* Elimina la altura fija para que el botón se ajuste al contenido */
        padding: 12px 24px; /* Ajusta el relleno horizontal para que haya más espacio alrededor del texto */
        font-size: 14px;
        margin-left: auto; /* Centra el elemento horizontalmente */
        margin-right: auto; /* Centra el elemento horizontalmente */
        margin-top: 20px; /* Añade un margen superior para separar los elementos */
        margin-bottom: 40px; /* Añade un margen inferior para separar los elementos */
    }
}


.mb-3.text-center.w-75 {
    color: var(--panel-grey-300, #585866);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 100%;
}
