/*INICIO. CUSTOM PALETTE SITE*/
/*website palette*/
$first-color: #111233; 
$first-color-v2: #7CAEE5;
$light-blue: #C5E0F6;
// $second-color: #B2D66F;
$second-color: #72cbe9;
// $second-color-v2: #8DBA38;
$second-color-v2: #4BC9F4;
/*overlay palette*/
$bg-overlay-color: rgba(7, 30, 68, 0.95);
/*END. CUSTOM PALETTE SITE*/


