/* For use in src/lib/core/theming/_palette.scss */
$primary-color: (
    50 : #e0e7ee,
    100 : #b3c4d5,
    200 : #809cb9,
    300 : #4d749d,
    400 : #265788,
    500 : #003973,
    600 : #00336b,
    700 : #002c60,
    800 : #002456,
    900 : #001743,
    A100 : #7898ff,
    A200 : #4571ff,
    A400 : #124aff,
    A700 : #003af7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


/* For use in src/lib/core/theming/_palette.scss */
$accent-color: (
    50 : #f1f7e7,
    100 : #ddeac3,
    200 : #c6dd9c,
    300 : #afcf74,
    400 : #9ec456,
    500 : #8dba38,
    600 : #85b332,
    700 : #7aab2b,
    800 : #70a324,
    900 : #5d9417,
    A100 : #e6ffc9,
    A200 : #ceff96,
    A400 : #b6ff63,
    A700 : #aaff4a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

