<div class="white-box-content">
    <div class="logo-container">
        <img src="/assets/images/goBravoLogo.png" alt="Logo Go Bravo">
    </div>

    <div class="notFoundperosn-imgContainer">
        <img src="/assets/images/found-person-img.png" alt="Icono, error persona no encontrada">
    </div>

    <div class="meanPB-whiteBox-title mb-3">Encontrado</div>
    <div class="mb-3">La persona con documento {{documentId}} es un cliente activo de Go Bravo, por ende, nos puedes enviar la propuesta de negociación de su deuda.</div>

    
    <button class="blueBorder-btn mb-3" (click)="debtProjection()">Propuesta de cancelación de deuda</button>
    <button class="blueBorder-btn mb-3" (click)="findAuthorityLetter()">Busca y descarga Carta poder</button>
    <span class="label" color="red">{{labelerror}}</span>
    <!--AQUI VA EL BOTON DE PORDER DEL CLIENTE-->
    <!--<button class="mean-PortalBtn mb-2" (click)="viewClientAuthorization()">Ver poder del cliente</button>-->
    <!--Action Buttons-->

    <!-- <div><a routerLink="/pb/consultation-by-person" class="btn btn-outline-info p-3 px-5 rounded-pill">Volver a la pantalla anterior</a></div> -->

    <div>
        <a class="smallBlueTxt btn btn-outline-info p-3 px-5 rounded-pill" routerLink="/pb/consultation-by-person">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_774_398)">
                    <path d="M9 19L10.41 17.59L5.83 13H22V11H5.83L10.42 6.41L9 5L2 12L9 19Z" fill="currentColor"/>
                </g>
                <defs>
                    <clipPath id="clip0_774_398">
                        <rect width="24" height="24" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            <span class="button-text">Volver a la pantalla anterior</span>
        </a>
    </div>
</div>